@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  font-family: "Roboto Mono", monospace;
}

a,
small {
  color: #053acc;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
  color: #053acc;
  font-size: 60px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
